

#notificator {
    position : absolute;
    right : 0px;
    top : 0px;
    height : 50px;
    width : 300px;
    background-color : silver;
    color : black;
    display : none;
    text-align : center;
    font-size : 15px;

    line-height : 50px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-radius: 0px 0px 0px 15px;
    border-radius: 0px 0px 0px 15px;
}
